*.bz2
*.gz
*.exe
*~
gtk
pkg
gtk-*/
build/
web/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
core
depcomp
doltcompile
doltlibtool
gen.sh
gmon.out
gtk-doc.make
install-sh
libtool
local
ltmain.sh
missing
stamp-h1
tags
valgrind.out
