[Desktop Entry]
Type=Application
Name=AWeather
Comment=Advanced weather reporting program
Exec=aweather
Terminal=false
Icon=aweather
Categories=Education;Science;Geoscience
